.vm-lu-detail-field {
    overflow: hidden;

    .k-tooltip-validation {
        margin: -7px 0 0 10px;
        position: absolute;
    }

    label, .vm-lu-detail-field-value {
        float: left;
    }

    label {
        font-weight: bold;
    }

    .vm-lu-detail-field-value {
        &:first-of-type {
            clear:left;
        }
        margin-bottom: 10px;
        margin-right: 4px;
    }
}
.vm-lu-detail-field-required {
    color: #F00;
}
.vm-lu-detail-field-selectiverequired {
    color: #8100CC;
}
.vm-lu-commands button{
    margin: 10px 0 0 0;
}
.k-widget.vm-lookup {
    border-width: 0;
}